//单行省略
@mixin els{
    //内容益处元素框发生隐藏
    overflow: hidden;
    //显示省略符来代表被修剪的文本
    text-overflow: ellipsis;
    //允许长单词换行到下一行
    word-wrap: break-word;
    //规定段落中文本不进行换行
    white-space: nowrap;
}

//添加blur模糊效果
//$blur:模糊数值
//$height:区域高度
//$position:位置 默认百分之五十
//$scale:放大比例
@mixin blur($blur,$height,$position:50%,$scale:1.6){
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $position;
    filter:blur($blur);
    transform:scale($scale);
    overflow: hidden;
    &::before{
        content:'';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1;
        background: rgba(0,0,0,.1);
        transition:all 0.3s;
    }
    @if($height == auto){
        bottom: 0;
    }
    @else{
        height: $height;
    }
    &.darken{
        &::before{
            background: rgba(0,0,0,.3);
        }
    }
}

//移动端1像素边框
//$color:边框颜色
//$type:上下左右，边框的方向
@mixin border-1px($color:#eee,$type:bottom) {
    &:after{
        content:'';
        position: absolute;
        left:0;
        right:0;
        height:1px;
        width:100%;
        background: $color;
    }
    @if($type==top){
        &:after{
            top:0;
        }
    }@else{
        &:after{
            bottom:0;
        }
    }
    @media(-webkit-min-device-pixel-ratio:1){
        &:after{
            transform: scaleY(1)
        }
    }
    @media(-webkit-min-device-pixel-ratio:2){
        &:after{
            transform: scaleY(0.5)
        }
    }
    @media(-webkit-min-device-pixel-ratio:3){
        &:after{
            transform: scaleY(0.3333)
        }
    }

}

//添加渐变色
@function linegrad($direction,$color...){
    @return linear-gradient($direction,$color);
}